body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

header {
    width: 100%;
    background-color: white;
    height: 55px;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 15px #ddd;
    z-index: 4;
}

.div_header {
    width: 94%;
    height: 100%;
    display: flex;
}

.left_header {
    width: 50%;
    display: flex;
    align-items: center;
}

.left_header .child_left_header {
    margin-top: 9.25px;
    margin-bottom: 9.25px;
    width: 150px;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.right_header {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.right_header .child_right_header {
    margin-top: 9.25px;
    margin-bottom: 9.25px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#img_language {
    height: 33.5px;
    border-radius: 50%;
}

#img_language:hover {
    box-shadow: 0 0 20px grey;
}

#language {
    text-decoration: none;
    background-image: linear-gradient(gray, grey);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 4px;
}

#language:hover, #language:focus {
    background-size: 100% 3px;
}

#avatar {
    text-decoration: none;
    background-image: linear-gradient(gray, grey);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 4px;
}

#avatar:hover, #avatar:focus {
    background-size: 100% 3px;
}

#img_avatar {
    height: 39.5px;
    border-radius: 50%;
}

#img_avatar:hover {
    box-shadow: 0 0 20px grey;
}

.main_container {
    background-color: white;
    width: 100%;
    height: 100vh;
}

.search_container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_bar {
    width: 70%;
    height: 55px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 15px #ddd;
}

.div_loupe {
    height: 100%;
    width: 8%;
    border-radius: 30px 0 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div_write {
    height: 100%;
    width: 77%;
    display: flex;
    align-items: center;
}

.div_search {
    background-color: #B50A0F;
    border-radius: 0 30px 30px 0;
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_input {
    border: transparent;
    height: 95%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: grey;
}

.search_input:focus {
    outline: none;
}

#search_button {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    font-weight: 400;
}

#img_loupe {
    width: 24px;
    height: 24px;
}

footer {
    background-color: #F3F3F3;
    width: 100%;
    height: 230px;
    align-self: flex-end;
    display: flex;
    justify-content: center;
}

.div_footer {
    height: 100%;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.div_footer .child_div_footer {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

#privacy_policy {
    text-decoration: none;
    font-size: 14px;
    color: #878787;
    font-family: Arial, Helvetica, sans-serif;
}

#privacy_policy::after {
    content: " | ";
    margin: 0 10px;
}

#terms_of {
    text-decoration: none;
    font-size: 14px;
    color: #878787;
    font-family: Arial, Helvetica, sans-serif;
}

.social_media {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 16%;
}

.rights {
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

#logo_footer {
    margin-bottom: 0;
}

#text_footer {
    font-size: 12px;
    color: #878787;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
}